body {
  text-align: justify
}

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #009c86;
}

#main .nav-pills > li > a:hover {
  background-color: #22983B;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #009c86;
}

#nav-top span.glyphicon {
  color: #22983B;
}

#table-of-contents header{
    color: #22983B;
}

#table-of-contents h2{
    background-color: #22983B;
}

#main a {
    background-image: linear-gradient(180deg,#d64a70,#d64a70);
    color: #009c86;
}

a:hover{
    color:#3d1308
}

a {
    color:#009c86
}

/*
#table-of-contents {
	color: #ededed;
	background: #009c86 !important; 
} */

/* cambia el color de las letras
body{	
	color: #009c86;
} */

#sidebar h2 a {
    color: white;
    text-decoration: none;
}

#sidebar h2 {
	background-color: #009c86;
}

#sidebar {
	background: #ededed;
}

#table-of-contents li a {
  color: #808080;
}

#postamble {
	background: #009c86;
	border-top-width: 0px;
}

.table-wrapper {
    overflow-x: none;
    margin-bottom: 0em;
}

.corrplot td{
align:center;
}

.bottom-space {
  margin-bottom: 0.5cm;
}

a email{
  color:black;
}

#centerAlign {
    text-align: center;
    margin: auto;
}

.centerAlign {
  margin: auto;
}
